@font-face {
    font-family: 'irsans';
    src: url('/Scripts/Fonts/PersianFonts/irsans.eot'),
url('/Scripts/Fonts/PersianFonts/irsans.ttf'),
url('/Scripts/Fonts/PersianFonts/irsans.woff');
    font-weight: normal;
    font-style: normal;
}


.btn-Login {
    font-size: 16px;
    font-family: irsans,monospace;
    background-color: #0a0a99;
    color: #fff;
    width: 100%;
}

.btn-Login:hover {
    background-color: #050560;
    color: #fff;
}
.btn-Login:focus {
    background-color: #050560;
    color: #fff;
}

